# Assignment : 16

#### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
years_list = [year for year in range(1997,1997+6)]
print(years_list)

[1997, 1998, 1999, 2000, 2001, 2002]

#### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [4]:
print("Third birth  year: ",years_list[3])

Third birth  year:  2000

### 3.In the years list, which year were you the oldest?

In [5]:
print("Me Oldest in year : ",max(years_list))

Me Oldest in year :  2002

#### 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

#### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

It wont change element in list , we need it to replace

In [7]:
for i in range(len(things)):
    if things[i] == 'cinderella':
        things[i].capitalize()
print(things)

['mozzarella', 'cinderella', 'salmonella']

#### 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [10]:
surprise_list = ["Groucho","Chico","Harpo"]

#### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [13]:
surprise_list[-1].capitalize()[::-1].capitalize()

'Oprah'

#### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [17]:
e2f = {'dog':'chien',
      'cat':'chat',
      'walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### 9. Write the French word for walrus in your three-word dictionary e2f.

In [18]:
print("French word for Walrus is ",e2f['walrus'])

French word for Walrus is  morse

#### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [19]:
f2e = dict([i[::-1] for i in e2f.items()])
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### 11. Print the English version of the French word chien using f2e.

In [21]:
print("English word for chien is ",f2e['chien'])

English word for chien is  dog

#### 12. Make and print a set of English words from the keys in e2f.

In [22]:
set_english_words = set(e2f.keys())
print("Set of English words ",set_english_words)

Set of English words  {'dog', 'walrus', 'cat'}

#### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [24]:
life = {
    'animals':{
        'cats':['Henri','Grumpy','Lucy'],
        'octopi':{},
        'emus':{}
    },
    'plants':{},
    'other':{}
}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

#### 14. Print the top-level keys of life.

In [27]:
print("Top level keys : ",[k for k in life.keys()])

Top level keys :  ['animals', 'plants', 'other']

#### 15. Print the keys for life['animals'].

In [29]:
print("keys for life['animals'] : ",[k for k in life['animals'].keys()])

keys for life['animals'] :  ['cats', 'octopi', 'emus']

#### 16. Print the values for life['animals']['cats']

In [31]:
print("keys for life['animals']['cats'] : ",[k for k in life['animals']['cats']])

keys for life['animals']['cats'] :  ['Henri', 'Grumpy', 'Lucy']